<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Housing App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

    <!-- Header -->
  	<div class="jumbotron">
      <div class="container">
        <h1>Housing App</h1>
        <p>Find and post Housing ads</p>
      </div>
    </div>

    <!-- New Listing box -->
    <section id='listing-forms' class="container">

      <div class="row">
        <div class="col-md-10 col-md-offset-1">

      <form class="search-cities form-horizontal">
        <legend>Search listings by city</legend>
            <div class="form-group">
               <div class="col-md-4">
                  <input id="name" name="city" type="text" placeholder="San francisco" class="form-control input-md" />
               </div>
           </div>
      </form>
            <hr>
          <form class="new-listing form-horizontal">

            <legend>Add New Listing</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" for="city">City</label>
              <div class="col-md-4">
                <input id="city" name="city" type="text" placeholder="San Francisco" class="form-control input-md" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">House Address</label>
              <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="price">Price</label>
              <div class="col-md-4">
                <input id="price" name="price" type="number" placeholder="$100,000" class="form-control input-md" />
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label" for="rooms">Number of Rooms</label>
              <div class="col-md-4">
                <input id="rooms" name="numRooms" type="number" placeholder="3" class="form-control input-md" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="url">Link</label>
              <div class="col-md-4">
                <input id="url" name="url" type="text" placeholder="http:..." class="form-control input-md" />
              </div>
            </div>

            <!-- submit -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Listing</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

        </div> <!-- col -->
      </div> <!-- row -->
   <div class="listings-container"></div>
    </section>

    <!-- render listings -->
   

  </body>
</html>
