<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Housing App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/main.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>
  </head>
  <body>
  <!-- Header -->
  	<div class="jumbotron">
      <div class="container">
        <h1>Housing App</h1>
        <p>Find and post Housing ads</p>
      </div>
    </div>

  <!-- New Listing box -->
  	    <section id='listing-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Listing</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Listing Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="artistName">Price</label>
              <div class="col-md-4">
              <input id="textinput" name="price" type="text" placeholder="$100,000" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="releaseDate">Number of Rooms</label>
              <div class="col-md-4">
              <input id="releaseDate" name="rooms" type="text" placeholder="3" class="form-control input-md">

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="releaseDate">Link</label>
              <div class="col-md-4">
              <input id="releaseDate" name="url" type="text" placeholder="http:..." class="form-control input-md">

              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Listing</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

  <div class="listings-container">
   <div class="row album" data-album-id="${listing._id}">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
          <!-- begin album internal row -->
            <div class='row'>
              <div class="col-md-12 col-xs-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h4 class='inline-header'>Beautiful House in the Mission</h4>
                  </li>
                  <li class="list-group-item">
                    <h4 class='inline-header'>Price:</h4>
                    <span class='listing-price'>$100,000</span>
                  </li>
                  <li class="list-group-item">
                    <h4 class='inline-header'>Rooms:</h4>
                    <span class='room-num'>3</span>
                  </li>
                  <li class="list-group-item">
                    <h4 class="inline-header">Link:</h4>
                    <span>http://www.craigslist.com</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of album internal row -->
            <div class='panel-footer'>
                <button class='btn btn-danger delete-album'>Delete Listing</button>
                <button class='btn btn-info edit-album'>Edit Listing</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<footer>

</footer>
</body>




</html>
