.list-group-item {

	background-color: red;
	display: inline;
}
img {
	float:left;
	height: 110px;
}
body {
	background-color: #F4E3C9 !important;
}

h4 {
	display: inline;
	text-align: center;
}

h1 {
	color: white;
}


li {
	display: inline-block;
}

.jumbotron {
	background-color: #CFDAF0 !important;
}

.delete-listing {
	background-color: #F48B94 ;
	color: white;
}

.panel-body {
	background-color: #B5DCE1;
}

.panel-footer {
	background-color: #F4D9D0 !important;
}

.list-group-item {
	background-color: #F4EFEC !important;
}